[alias]
    graph = log --decorate --oneline --graph
    shove = push --force-with-lease
    amend = commit --amend --no-edit
    fixup = commit --fixup
    co = checkout
[color]
    ui = true
[interactive]
    diffFilter = diff-highlight
[pager]
    log = diff-highlight | less -FRSX
    diff = diff-highlight | less -FRSX
    show = diff-highlight | less -FRSX
[help]
    autocorrect = 1
[core]
    excludesfile = ~/.gitignore.global
[include]
    path = ~/.gitconfig.user
[includeIf "gitdir:red-gate/"]
    path = ~/.gitconfig.red-gate.user
[includeIf "gitdir/i:d:/"]
    path = ~/.gitconfig.windows
[includeIf "gitdir/i:/users/"]
    path = ~/.gitconfig.macos
[pull]
    ff = only
[rebase]
    autosquash = true

# vim: set ft=gitconfig :
[user]
	name = Stan Hamara
	email = stanislav.hamara@treasure-data.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templateDir = /Users/stanislavhamara/.git-templates/git-secrets
[secrets]
	patterns = [0-9]+/[a-f0-9]{40}
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[commit]
	template = /Users/stanislavhamara/.stCommitMsg
