[alias]
    graph = log --decorate --oneline --graph
    shove = push --force-with-lease
    amend = commit --amend --no-edit
[color]
    ui = true
[help]
    autocorrect = 1
[interactive]
    diffFilter = diff-so-fancy
[core]
    pager = diff-so-fancy | less --tabs=4 -FRSX
    excludesfile = ~/.gitignore.global
[include]
    path = ~/.gitconfig.user
[includeIf "gitdir:red-gate/"]
    path = ~/.gitconfig.red-gate.user
[includeIf "gitdir/i:d:/"]
    path = ~/.gitconfig.windows
[pull]
    ff = only
[diff-so-fancy]
    markEmptyLines = false
    changeHunkIndicators = false

# vim: set ft=gitconfig :
